name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: create env file
        run: |
          touch .env
          echo BROWSERSTACK_USER =${{ secrets.BROWSERSTACK_USER }} >> .env
          echo BROWSERSTACK_KEY =${{ secrets.BROWSERSTACK_KEY }} >> .env
      - name: npm install
        run: |
          npm install
      - run: npm run test-browserstack
